<div class="btn-group">
  <%= link_to login_path, class: "btn btn-small" do %> <i class="icon-user"></i> Sign In
  <% end %>
  <%= link_to register_path, class: "btn btn-small" do %> <i class="icon-edit"></i> Sign up
  <% end %>
  <%= link_to recover_path, class: "btn btn-small" do %> <i class="icon-undo"></i> Forgot Password?
  <% end %>
</div>