<div class="row-fluid">
  <div class="content-client" style="width:420px; margin: 0 auto">
    <%= bootstrap_flash %>

    <h2><img src="/images/TeHablo.jpeg" alt="Te Hablo Communicaciones sin limites" width="80"/>
        <span class="pull-right">
          <%= render "sessions/links" %>
        </span>
    </h2>
    <hr/>
    <br/>
    <%= render "layouts/error", errors: @user.errors %>
    <%= render "sessions/register" %>
  </div>
</div>