<table width="700" cellpadding="0" cellspacing="0" align="center" style=" border-radius:10px; border: 1px solid #e9e9e9; border-radius:10px">
  <tbody>
  <tr>
    <td style=" padding:20px; background-color: white;">
      <%= image_tag @user.agent.logo.url(:thumb), class: '' %>
    </td>
    <td style="color: #a3a4a8; text-align: left; font-weight: light; font-family: Helvetica, Arial, sans-serif; background-color:white; ">
      <strong>Forgot </strong> password
    </td>
  </tr>
  <tr>
    <td colspan="2" style=" padding:0.25em; background-color: #e9e9e9; line-height: 16px;">
    </td>
  </tr>
  <tr>
    <td style=" padding:20px; background-color: white; color: #b8b9c1; font-weight: normal; font-family: Helvetica, Arial, sans-serif; vertical-align: top;">
      <%= @user.full_name %> <br/>
      <%= @user.created_at.strftime('%m/%d/%y at %H:%m') %>
    </td>
    <td style=" padding:20px; background-color: white; color: #b8b9c1; font-weight: normal; font-family: Helvetica, Arial, sans-serif; vertical-align: top;"></td>
  </tr>
  <tr>
    <td colspan="2" style=" padding:20px; background-color: white; color: #b8b9c1; font-weight: normal;font-family: Helvetica, Arial, sans-serif; vertical-align: top;">

      <%= t('email.forgot_password_html', email: @user.email, password: @random_password) %>

    </td>
  </tr>
  </tbody>
</table>