<div class="align-center">
  <i class="icon-location-arrow big"></i>

  <h3><%= t 'users.tabs.my_services.follow_me' %></h3>
</div>
<p>
  <%= t 'users.tabs.my_services.follow_me_text_html' %>
</p>


<table class="table">
  <thead>
  <tr>
    <th><%= t 'users.tabs.my_services.follow_me_numbers' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<a class="btn btn-success btn-block"> <%= t 'btn.buy_number' %></a>