<div class="align-center">
  <img src="https://oem.zoiper.com/qr.php?provider_id=fc76d34b6e46c459fa98a93c475112c2&t=&u=<%= @endpoint["username"] %>&p=<%= @user.endpoint_password %>" alt="QR image" height="100" width="100"/>

  <h3><%= t 'users.tabs.my_services.smartphone' %></h3>
</div>

<p><%= t 'users.tabs.my_services.smartphone_text_html' %></p>
