<div id="body" style="padding: 0;">
  <div class="contacts-map" style="height:470px">
    <div class="map">
      <iframe width="100%" height="590" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://maps.google.com/maps?q=Hasbrouck+Heights,+NJ&hl=en&sll=40.07304,-74.724323&sspn=5.707596,11.634521&oq=hasbrouck&hnear=Hasbrouck+Heights,+Bergen,+New+Jersey&t=m&z=14&iwloc=A&output=embed"></iframe>
    </div>
    <div class="container">
      <div class="text">
        <p><strong>Washington</strong><br>1639 H Street Northwest, <br>Washington, District of Columbia,<br>Tel.: +0 20
          550 6300<br>Fax: +0 20 580 6399<br><a href="#">hello@mrpresident.com</a></p>
      </div>
    </div>
    <!-- / container -->
  </div>
  <div class="contacts-info">
    <div class="container">
      <div class="form">
        <h3>Contact form</h3>

        <form action="#">
          <textarea placeholder="Message"></textarea>
          <input type="text" class="email" placeholder="Email">
          <input type="text" class="user" placeholder="Mike">
          <input type="submit" class="btn btn-green" value="Send">
        </form>
      </div>
      <div class="feed">
        <h3>Twitter feed <span></span></h3>
        <ul>
          <li>
            <span>Dec 25</span>

            <p>Our house is a building site. Kitchen floor coming up tomorrow. Whole family basically living in a couple
              of rooms.</p>
          </li>
          <li>
            <span>Dec 25</span>

            <p>This Bellawood Flooring TV ad is really well done. Clear, direct, and hits all the right notes:
              <a href="http://t.co/TGBzpgw4">http://t.co/TGBzpgw4</a></p>
          </li>
          <li>
            <span>Dec 25</span>

            <p>A real treat: A 14-minute design and driving review of the ultra-rare Aston Martin One-77:
              <a href="http://t.co/TyBzpgwQ">http://t.co/TyBzpgwQ</a></p>
          </li>
        </ul>
        <div class="button"><a href="#" class="btn btn-blue">Follow Us</a></div>
      </div>
    </div>
    <!-- / container -->
  </div>
</div>