<footer id="footer">
  <div class="container">
    <div class="col">
      <h5>MAIN</h5>
      <ul>
        <li><%= link_to "Beneficios", sites_features_path %></li>
        <li><%= link_to "Contacto", sites_contact_path %> </li>
        <li><%= link_to "Mi Cuenta", dashboard_index_path %> </li>
      </ul>
    </div>

    <div class="right">

      <div class="copy">
        <p>© 2013 TeHablo</p>

        <p><a href="#">Politica de privacidad</a> <span></span> <a href="#">Terminos y condiciones de uso</a>
        </p>
      </div>
    </div>
  </div>
  <!-- / container -->
</footer>
<!-- / footer -->